# template that should be ignored by git
docs/references/actix-template

# local implementation worktrees
.worktrees/

# claude
.claude/

# Jetbrain DB
DB/*

# node.js
node_modules/

# MacOS
.DS_Store
